
@{
    ViewData["Title"] = "Contact Us";
}
<br/>
<h2>CONTACTOS</h2>
<p>Precisa de ajuda? Respondemos a todas as suas perguntas.</p>
<br />
<p><strong>LINHA DE APOIO AO CLIENTE</strong></p>
<p>Sabia que a WAG tem uma linha de apoio ao cliente? Respondemos às suas<p/>
<p> dúvidas dos mais diversos assuntos entre eles:</p>
<div>
    <span>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </span>
    <email address="help.wearegameres@gmail.com" content="Send Email"></email>
    <br />
   <a href="https://www.instagram.com/wearegamers_2021/"> Instagram</a>
</div>
