
@{ ViewData["Title"] = "Disclaimer"; }
<br/>
<h2>Termos e Condições de Utilização do Site WAG</h2>
<br/>
<p>O Utilizador deve ter a idade mínima de 16 (dezasseis) anos para criar conta online e efetuar compras no Site WAG.</p>
<p>O Utilizador deve utilizar o Site WAG em cumprimento com o disposto na legislação aplicável.</p>
<p>O Site WAG pode possuir ligações a outros websites, os quais poderão conter informações/ferramentas úteis para os seus utilizadores.</p>
<p>Os presentes Termos e Condições da Conta Online WAG não serão aplicáveis a websites de terceiros. Como tal, caso o Utilizador visite outro website, redirecionado a partir do Site WAG, deverá tomar conhecimento e aceitar os termos e condições e a política de privacidade do mesmo.</p>
<p>A WAG reserva-se o direito de modificar a qualquer momento, sem aviso prévio, a apresentação e conteúdo do Site WAG, seus serviços e os presentes Termos e Condições da Conta Online WAG, ressalvando-se os direitos adquiridos quanto aos contratos já celebrados e em execução. Essas modificações servirão para uma melhoria do Site WAG e, simultaneamente, dos serviços oferecidos ao Utilizador que, caso não concorde com as alterações introduzidas, poderá cessar a utilização do Site WAG.
	<div>
		<span>
			<i class="fa fa-envelope-o" aria-hidden="true"></i>
		</span>
		<email address="help.wearegameres@gmail.com" content="Send Email"></email>
		<br />
		
	</div>
