
@{
    ViewData["Title"] = "CheckoutComplete";
}
<br />
<h2>Encomenda Aceite</h2>

<p>Muito obrigado pela sua encomenda. Dentro de 6 dias utéis será enviada a sua encomenda.</p>

<br />
<p>
    Esqueceu-se de algo?
	<a href="/">Clique Aqui!</a>
</p>
<br />
<p>
    Para informações da sua encomenda!
    <a href="/order/myOrder">Clique Aqui!</a>
</p>
