@model HomeViewModel



@Html.Partial("carousel")

<br />
<br />

<section>
	<header>
		<h2 class="section-title">Playstation</h2>
		<a class="all" asp-controller="/jogos" asp-action="Playstation">Ver mais!</a>
	</header>
	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card" style="" onclick="javascript:window.location.href='/jogos/details/29'">
				<img class="card-img-top" src="/img/slider-bg-3.jpg" alt="God of War">
				<div class="card-body">
					<h5 class="card-title d-inline float-left">
						God of War
					</h5>
					<p class="card-text d-inline float-right">53,00€</p>



				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card" style="" onclick="javascript:window.location.href='/jogos/details/17'">
				<img class="card-img-top" src="/img/825516f3-77c0-48e3-a92f-cb1bfab33ce0.jpeg" alt="RESIDENT EVIL 7">
				<div class="card-body">
					<h5 class="card-title d-inline float-left">
						RESIDENT EVIL 7
					</h5>
					<p class="card-text d-inline float-right">48,00€</p>



				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card" style="" onclick="javascript:window.location.href='/jogos/details/22'">
				<img class="card-img-top" src="/img/capsule_616x353 (4).jpg" alt="Final Fantasy XIV: A Realm Reborn">
				<div class="card-body">
					<h5 class="card-title d-inline float-left">
						Final Fantasy XIV: A Realm Reborn
					</h5>
					<p class="card-text d-inline float-right">53,00€</p>



				</div>
			</div>
		</div>
	</div>
</section>
<br />
<section>
	<header>
		<h2 class="section-title">Computador</h2>
		<a class="all" asp-controller="/jogos" asp-action="Computador">Ver mais!</a>
	</header>
	
	<div class="row">

		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card" style="" onclick="javascript:window.location.href='/jogos/details/4'">
				<img class="card-img-top" src="/img/minecraft.jpg" alt="Minecraft">
				<div class="card-body">
					<h5 class="card-title d-inline float-left">
						Minecraft
					</h5>
					<p class="card-text d-inline float-right">23,00€</p>



				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card" style="" onclick="javascript:window.location.href='/jogos/details/9'">
				<img class="card-img-top" src="/img/dragon.jpg" alt="DRAGON BALL FighterZ">
				<div class="card-body">
					<h5 class="card-title d-inline float-left">
						DRAGON BALL FighterZ
					</h5>
					<p class="card-text d-inline float-right">8,00€</p>



				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
			<div class="card" style="" onclick="javascript:window.location.href='/jogos/details/12'">
				<img class="card-img-top" src="/img/knockout-city-featured.jpg" alt="Knockout City">
				<div class="card-body">
					<h5 class="card-title d-inline float-left">
						Knockout City
					</h5>
					<p class="card-text d-inline float-right">25,00€</p>



				</div>
			</div>
		</div>
	</div>
</section>