@model string

@*<link rel="stylesheet" type="text/css" href="~/css/Style.css">*@
<br/>
<h2>Nova Permissão</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
	<div class="form-group">
		<label for="name">Nome:</label>
		<input name="name" class="form-control" />
	</div>
	<a asp-action="Index" class="btn btn-primary">Voltar</a>
	<button type="submit" class="btn btn-primary float-right">Criar</button>
</form>