@*<link rel="stylesheet" href="css/mdb.min.css" />*@
<!-- Footer -->
<footer class="text-center text-lg-start text-muted ">
	<!-- Section: Social media -->
	<!-- Section: Social media -->
	<!-- Section: Links  -->
	<section class="">
		<br />
		<div class="container text-center text-md-start mt-5">

			<!-- Grid row -->
			<div class="row mt-3">
				<!-- Grid column -->
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="color: #fff">
					<!-- Content -->
					<h6 class="text-uppercase fw-bold mb-4">
						<i class="fas fa-gem me-3"></i> WAG
					</h6>
					<p>
						We Are Gamers é uma loja virtual focada na venda de jogos, para os grandes amantes de jogos de todas as consolas!
					</p>
				</div>
				<!-- Grid column -->
				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Plataformas
					</h6>
					<p>
						<a class="text-reset" asp-controller="/jogos" asp-action="XBox">XBox</a>
						
					</p>
					<p>
						<a class="text-reset" asp-controller="/jogos" asp-action="Playstation">Playstation</a>
						
					</p>
					<p>
						<a class="text-reset" asp-controller="/jogos" asp-action="Computador">Computador</a>
					</p>
				</div>

				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="color: #fff">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Contactos
					</h6>
					<p><i class="fas fa-home me-3"></i> Cascais, Lisboa, PT</p>
					<p>
						<i class="fas fa-envelope me-3"></i>
						help.wearegamers@gmail.com
					</p>
					<p><i class="fas fa-phone me-3"></i> + 351 926873163</p>

				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
	</section>
	<!-- Section: Links  -->
	<!-- Copyright -->
	<div class="p-4" style="background-color: rgba(0, 0, 0, 0.05); color: #fff">
		© 2021 WAG.pt. Todos Os Direitos Reservados
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->